extends:
  - airbnb
  - 'plugin:flowtype/recommended'
plugins:
  - flowtype
settings:
  import/resolver:
    webpack:
      config: 'webpack.config.client.js'
parserOptions:
  ecmaFeatures:
    experimentalObjectRestSpread: true
globals:
  document: true
  window: true
