.sidemenu {
  bottom: 50px;
  height: 100%;
  margin-bottom: -70px;
  margin-top: 0px;
  padding-bottom: 146px;
  position: fixed;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  top: 60px;
  width: 240px;
  z-index: 2;
}
