<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="ull-left">
      <a class="navbar-brand" href="/">Familog</a>
    </div>
    <div class="pull-right">
      <a class="navbar-brand" href="/auth/google">会員登録</a>
    </div>
  </div>
</nav>
<section class="main">
  <div class="container grid-960">
    <div class="jumbotron text-center">
      <h1>家族で日報を書こう</h1>
      <p>Familogは家族のための日報サービスです</p>
      <p>
        <a href="/articles" class="btn btn-primary btn-raised">
          日報の一覧を確認する
        </a>
      </p>
    </div>
  </div>
</section>
