<!DOCTYPE html>
<html>
  <head>
    <title>Nippo</title>
    <%= csrf_meta_tags %>
  </head>
    <%= stylesheet_link_tag webpack_asset_path('application.css') %>
  <body>
    <%= yield %>
    <%= javascript_include_tag webpack_asset_path('application.js') %>
  </body>
</html>
